.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/alpha/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/alpha/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/alpha/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/alpha/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/alpha/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/alpha/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/alpha/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/alpha/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/alpha/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/alpha/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/alpha/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/alpha/bK.svg');
}