.cg-wrap piece.pawn.white {
  background-image: url('/themes/pieces/anarcandy/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/themes/pieces/anarcandy/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/themes/pieces/anarcandy/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/themes/pieces/anarcandy/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/themes/pieces/anarcandy/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/themes/pieces/anarcandy/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/themes/pieces/anarcandy/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/themes/pieces/anarcandy/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/themes/pieces/anarcandy/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/themes/pieces/anarcandy/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/themes/pieces/anarcandy/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/themes/pieces/anarcandy/bK.svg');
}