.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/anarcandy/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/anarcandy/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/anarcandy/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/anarcandy/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/anarcandy/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/anarcandy/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/anarcandy/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/anarcandy/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/anarcandy/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/anarcandy/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/anarcandy/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/anarcandy/bK.svg');
}