.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/caliente/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/caliente/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/caliente/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/caliente/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/caliente/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/caliente/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/caliente/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/caliente/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/caliente/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/caliente/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/caliente/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/caliente/bK.svg');
}