.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/cburnett/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/cburnett/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/cburnett/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/cburnett/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/cburnett/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/cburnett/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/cburnett/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/cburnett/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/cburnett/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/cburnett/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/cburnett/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/cburnett/bK.svg');
}