.cg-wrap piece.pawn.white {
  background-image: url("/themes/pieces/cburnett/wP.svg");
}

.cg-wrap piece.rook.white {
  background-image: url("/themes/pieces/cburnett/wR.svg");
}

.cg-wrap piece.knight.white {
  background-image: url("/themes/pieces/cburnett/wN.svg");
}

.cg-wrap piece.bishop.white {
  background-image: url("/themes/pieces/cburnett/wB.svg");
}

.cg-wrap piece.queen.white {
  background-image: url("/themes/pieces/cburnett/wQ.svg");
}

.cg-wrap piece.king.white {
  background-image: url("/themes/pieces/cburnett/wK.svg");
}

.cg-wrap piece.pawn.black {
  background-image: url("/themes/pieces/cburnett/bP.svg");
}

.cg-wrap piece.rook.black {
  background-image: url("/themes/pieces/cburnett/bR.svg");
}

.cg-wrap piece.knight.black {
  background-image: url("/themes/pieces/cburnett/bN.svg");
}

.cg-wrap piece.bishop.black {
  background-image: url("/themes/pieces/cburnett/bB.svg");
}

.cg-wrap piece.queen.black {
  background-image: url("/themes/pieces/cburnett/bQ.svg");
}

.cg-wrap piece.king.black {
  background-image: url("/themes/pieces/cburnett/bK.svg");
}
