.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/celtic/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/celtic/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/celtic/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/celtic/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/celtic/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/celtic/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/celtic/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/celtic/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/celtic/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/celtic/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/celtic/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/celtic/bK.svg');
}