.cg-wrap piece.pawn.white {
  background-image: url('/themes/pieces/chess7/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/themes/pieces/chess7/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/themes/pieces/chess7/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/themes/pieces/chess7/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/themes/pieces/chess7/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/themes/pieces/chess7/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/themes/pieces/chess7/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/themes/pieces/chess7/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/themes/pieces/chess7/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/themes/pieces/chess7/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/themes/pieces/chess7/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/themes/pieces/chess7/bK.svg');
}
