.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/cooke/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/cooke/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/cooke/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/cooke/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/cooke/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/cooke/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/cooke/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/cooke/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/cooke/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/cooke/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/cooke/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/cooke/bK.svg');
}