.cg-wrap piece.pawn.white {
  background-image: url('/themes/pieces/dubrovny/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/themes/pieces/dubrovny/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/themes/pieces/dubrovny/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/themes/pieces/dubrovny/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/themes/pieces/dubrovny/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/themes/pieces/dubrovny/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/themes/pieces/dubrovny/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/themes/pieces/dubrovny/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/themes/pieces/dubrovny/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/themes/pieces/dubrovny/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/themes/pieces/dubrovny/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/themes/pieces/dubrovny/bK.svg');
}
