.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/firi/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/firi/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/firi/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/firi/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/firi/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/firi/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/firi/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/firi/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/firi/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/firi/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/firi/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/firi/bK.svg');
}