.cg-wrap piece.pawn.white {
  background-image: url("/themes/pieces/firi/wP.svg");
}

.cg-wrap piece.rook.white {
  background-image: url("/themes/pieces/firi/wR.svg");
}

.cg-wrap piece.knight.white {
  background-image: url("/themes/pieces/firi/wN.svg");
}

.cg-wrap piece.bishop.white {
  background-image: url("/themes/pieces/firi/wB.svg");
}

.cg-wrap piece.queen.white {
  background-image: url("/themes/pieces/firi/wQ.svg");
}

.cg-wrap piece.king.white {
  background-image: url("/themes/pieces/firi/wK.svg");
}

.cg-wrap piece.pawn.black {
  background-image: url("/themes/pieces/firi/bP.svg");
}

.cg-wrap piece.rook.black {
  background-image: url("/themes/pieces/firi/bR.svg");
}

.cg-wrap piece.knight.black {
  background-image: url("/themes/pieces/firi/bN.svg");
}

.cg-wrap piece.bishop.black {
  background-image: url("/themes/pieces/firi/bB.svg");
}

.cg-wrap piece.queen.black {
  background-image: url("/themes/pieces/firi/bQ.svg");
}

.cg-wrap piece.king.black {
  background-image: url("/themes/pieces/firi/bK.svg");
}
