.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/icpieces/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/icpieces/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/icpieces/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/icpieces/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/icpieces/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/icpieces/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/icpieces/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/icpieces/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/icpieces/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/icpieces/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/icpieces/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/icpieces/bK.svg');
}