.cg-wrap piece.pawn.white {
  background-image: url('/themes/pieces/kosal/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/themes/pieces/kosal/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/themes/pieces/kosal/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/themes/pieces/kosal/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/themes/pieces/kosal/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/themes/pieces/kosal/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/themes/pieces/kosal/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/themes/pieces/kosal/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/themes/pieces/kosal/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/themes/pieces/kosal/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/themes/pieces/kosal/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/themes/pieces/kosal/bK.svg');
}
