.cg-wrap piece.pawn.white {
  background-image: url("/themes/pieces/maestro/wP.svg");
}

.cg-wrap piece.rook.white {
  background-image: url("/themes/pieces/maestro/wR.svg");
}

.cg-wrap piece.knight.white {
  background-image: url("/themes/pieces/maestro/wN.svg");
}

.cg-wrap piece.bishop.white {
  background-image: url("/themes/pieces/maestro/wB.svg");
}

.cg-wrap piece.queen.white {
  background-image: url("/themes/pieces/maestro/wQ.svg");
}

.cg-wrap piece.king.white {
  background-image: url("/themes/pieces/maestro/wK.svg");
}

.cg-wrap piece.pawn.black {
  background-image: url("/themes/pieces/maestro/bP.svg");
}

.cg-wrap piece.rook.black {
  background-image: url("/themes/pieces/maestro/bR.svg");
}

.cg-wrap piece.knight.black {
  background-image: url("/themes/pieces/maestro/bN.svg");
}

.cg-wrap piece.bishop.black {
  background-image: url("/themes/pieces/maestro/bB.svg");
}

.cg-wrap piece.queen.black {
  background-image: url("/themes/pieces/maestro/bQ.svg");
}

.cg-wrap piece.king.black {
  background-image: url("/themes/pieces/maestro/bK.svg");
}
