.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/merida/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/merida/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/merida/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/merida/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/merida/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/merida/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/merida/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/merida/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/merida/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/merida/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/merida/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/merida/bK.svg');
}