.cg-wrap piece.pawn.white {
  background-image: url('/themes/pieces/monarchy/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/themes/pieces/monarchy/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/themes/pieces/monarchy/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/themes/pieces/monarchy/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/themes/pieces/monarchy/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/themes/pieces/monarchy/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/themes/pieces/monarchy/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/themes/pieces/monarchy/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/themes/pieces/monarchy/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/themes/pieces/monarchy/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/themes/pieces/monarchy/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/themes/pieces/monarchy/bK.svg');
}