.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/mono/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/mono/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/mono/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/mono/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/mono/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/mono/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/mono/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/mono/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/mono/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/mono/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/mono/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/mono/bK.svg');
}