.cg-wrap piece.pawn.white {
  background-image: url("/themes/pieces/mono/wP.svg");
}

.cg-wrap piece.rook.white {
  background-image: url("/themes/pieces/mono/wR.svg");
}

.cg-wrap piece.knight.white {
  background-image: url("/themes/pieces/mono/wN.svg");
}

.cg-wrap piece.bishop.white {
  background-image: url("/themes/pieces/mono/wB.svg");
}

.cg-wrap piece.queen.white {
  background-image: url("/themes/pieces/mono/wQ.svg");
}

.cg-wrap piece.king.white {
  background-image: url("/themes/pieces/mono/wK.svg");
}

.cg-wrap piece.pawn.black {
  background-image: url("/themes/pieces/mono/bP.svg");
}

.cg-wrap piece.rook.black {
  background-image: url("/themes/pieces/mono/bR.svg");
}

.cg-wrap piece.knight.black {
  background-image: url("/themes/pieces/mono/bN.svg");
}

.cg-wrap piece.bishop.black {
  background-image: url("/themes/pieces/mono/bB.svg");
}

.cg-wrap piece.queen.black {
  background-image: url("/themes/pieces/mono/bQ.svg");
}

.cg-wrap piece.king.black {
  background-image: url("/themes/pieces/mono/bK.svg");
}
