.cg-wrap piece.pawn.white {
  background-image: url('/themes/pieces/mpchess/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/themes/pieces/mpchess/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/themes/pieces/mpchess/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/themes/pieces/mpchess/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/themes/pieces/mpchess/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/themes/pieces/mpchess/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/themes/pieces/mpchess/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/themes/pieces/mpchess/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/themes/pieces/mpchess/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/themes/pieces/mpchess/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/themes/pieces/mpchess/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/themes/pieces/mpchess/bK.svg');
}