.cg-wrap piece.pawn.white {
  background-image: url("/themes/pieces/pirouetti/wP.svg");
}

.cg-wrap piece.rook.white {
  background-image: url("/themes/pieces/pirouetti/wR.svg");
}

.cg-wrap piece.knight.white {
  background-image: url("/themes/pieces/pirouetti/wN.svg");
}

.cg-wrap piece.bishop.white {
  background-image: url("/themes/pieces/pirouetti/wB.svg");
}

.cg-wrap piece.queen.white {
  background-image: url("/themes/pieces/pirouetti/wQ.svg");
}

.cg-wrap piece.king.white {
  background-image: url("/themes/pieces/pirouetti/wK.svg");
}

.cg-wrap piece.pawn.black {
  background-image: url("/themes/pieces/pirouetti/bP.svg");
}

.cg-wrap piece.rook.black {
  background-image: url("/themes/pieces/pirouetti/bR.svg");
}

.cg-wrap piece.knight.black {
  background-image: url("/themes/pieces/pirouetti/bN.svg");
}

.cg-wrap piece.bishop.black {
  background-image: url("/themes/pieces/pirouetti/bB.svg");
}

.cg-wrap piece.queen.black {
  background-image: url("/themes/pieces/pirouetti/bQ.svg");
}

.cg-wrap piece.king.black {
  background-image: url("/themes/pieces/pirouetti/bK.svg");
}
