.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/pixel/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/pixel/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/pixel/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/pixel/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/pixel/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/pixel/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/pixel/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/pixel/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/pixel/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/pixel/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/pixel/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/pixel/bK.svg');
}