.cg-wrap piece.pawn.white {
  background-image: url("/themes/pieces/pixel/wP.svg");
}

.cg-wrap piece.rook.white {
  background-image: url("/themes/pieces/pixel/wR.svg");
}

.cg-wrap piece.knight.white {
  background-image: url("/themes/pieces/pixel/wN.svg");
}

.cg-wrap piece.bishop.white {
  background-image: url("/themes/pieces/pixel/wB.svg");
}

.cg-wrap piece.queen.white {
  background-image: url("/themes/pieces/pixel/wQ.svg");
}

.cg-wrap piece.king.white {
  background-image: url("/themes/pieces/pixel/wK.svg");
}

.cg-wrap piece.pawn.black {
  background-image: url("/themes/pieces/pixel/bP.svg");
}

.cg-wrap piece.rook.black {
  background-image: url("/themes/pieces/pixel/bR.svg");
}

.cg-wrap piece.knight.black {
  background-image: url("/themes/pieces/pixel/bN.svg");
}

.cg-wrap piece.bishop.black {
  background-image: url("/themes/pieces/pixel/bB.svg");
}

.cg-wrap piece.queen.black {
  background-image: url("/themes/pieces/pixel/bQ.svg");
}

.cg-wrap piece.king.black {
  background-image: url("/themes/pieces/pixel/bK.svg");
}
