.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/reillycraig/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/reillycraig/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/reillycraig/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/reillycraig/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/reillycraig/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/reillycraig/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/reillycraig/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/reillycraig/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/reillycraig/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/reillycraig/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/reillycraig/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/reillycraig/bK.svg');
}