.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/shapes/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/shapes/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/shapes/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/shapes/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/shapes/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/shapes/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/shapes/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/shapes/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/shapes/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/shapes/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/shapes/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/shapes/bK.svg');
}