.cg-wrap piece.pawn.white {
  background-image: url('/themes/pieces/spatial/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/themes/pieces/spatial/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/themes/pieces/spatial/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/themes/pieces/spatial/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/themes/pieces/spatial/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/themes/pieces/spatial/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/themes/pieces/spatial/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/themes/pieces/spatial/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/themes/pieces/spatial/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/themes/pieces/spatial/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/themes/pieces/spatial/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/themes/pieces/spatial/bK.svg');
}
