.cg-wrap piece.pawn.white {
  background-image: url("/themes/pieces/xkcd/wP.svg");
}

.cg-wrap piece.rook.white {
  background-image: url("/themes/pieces/xkcd/wR.svg");
}

.cg-wrap piece.knight.white {
  background-image: url("/themes/pieces/xkcd/wN.svg");
}

.cg-wrap piece.bishop.white {
  background-image: url("/themes/pieces/xkcd/wB.svg");
}

.cg-wrap piece.queen.white {
  background-image: url("/themes/pieces/xkcd/wQ.svg");
}

.cg-wrap piece.king.white {
  background-image: url("/themes/pieces/xkcd/wK.svg");
}

.cg-wrap piece.pawn.black {
  background-image: url("/themes/pieces/xkcd/bP.svg");
}

.cg-wrap piece.rook.black {
  background-image: url("/themes/pieces/xkcd/bR.svg");
}

.cg-wrap piece.knight.black {
  background-image: url("/themes/pieces/xkcd/bN.svg");
}

.cg-wrap piece.bishop.black {
  background-image: url("/themes/pieces/xkcd/bB.svg");
}

.cg-wrap piece.queen.black {
  background-image: url("/themes/pieces/xkcd/bQ.svg");
}

.cg-wrap piece.king.black {
  background-image: url("/themes/pieces/xkcd/bK.svg");
}
