.cg-wrap piece.pawn.white {
  background-image: url('/pieceSets/xkcd/wP.svg');
}

.cg-wrap piece.rook.white {
  background-image: url('/pieceSets/xkcd/wR.svg');
}

.cg-wrap piece.knight.white {
  background-image: url('/pieceSets/xkcd/wN.svg');
}

.cg-wrap piece.bishop.white {
  background-image: url('/pieceSets/xkcd/wB.svg');
}

.cg-wrap piece.queen.white {
  background-image: url('/pieceSets/xkcd/wQ.svg');
}

.cg-wrap piece.king.white {
  background-image: url('/pieceSets/xkcd/wK.svg');
}

.cg-wrap piece.pawn.black {
  background-image: url('/pieceSets/xkcd/bP.svg');
}

.cg-wrap piece.rook.black {
  background-image: url('/pieceSets/xkcd/bR.svg');
}

.cg-wrap piece.knight.black {
  background-image: url('/pieceSets/xkcd/bN.svg');
}

.cg-wrap piece.bishop.black {
  background-image: url('/pieceSets/xkcd/bB.svg');
}

.cg-wrap piece.queen.black {
  background-image: url('/pieceSets/xkcd/bQ.svg');
}

.cg-wrap piece.king.black {
  background-image: url('/pieceSets/xkcd/bK.svg');
}