@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  background-color: aliceblue;
  font-family: "Noto Sans", serif;
}

.feedback-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 84px;
  opacity: 1;
  transition: opacity 6s ease-out;
}

.feedback-message.fade-out {
  opacity: 0.5;
}
