@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
}

button,
input,
select,
textarea {
  font: inherit;
}

.logo-font {
 font-family: "Noto Sans", sans-serif;
}
.feedback-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 84px;
  opacity: 1;
  transition: opacity 6s ease-out;
}

.feedback-message.fade-out {
  opacity: 0.5;
}

@font-face {
  font-family: "LichessIcons";
  src: url("/font/lichess.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "LichessIcons";
  font-size: 16px;
}
