@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-darkBackground m-0 p-0 box-border overflow-x-hidden overflow-y-scroll scroll-smooth;
  }
}



* {
  font-family: "Inter", sans-serif;
  font-weight: 500, 700;
}


/* .hide-calendar-icon {
    -webkit-appearance: none;
} */

.hide-calendar-icon::-webkit-inner-spin-button,
.hide-calendar-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #2c2c2c; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
    border: 3px solid #2c2c2c; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}


@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: translateY(-6px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}


.fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}



.fadeOut {
  animation: fadeOut 0.3s ease-in;
}


.swiper{
  position: unset !important;
}

.swiper-pagination {
  position: unset !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-left: auto !important;
  margin-right: auto !important; 
}

.modal-backdrop {
  background-color: rgb(0, 0, 0, 0.5);
}