@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 6px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bdbdbd;
}

body {
  background-color: #e7e3e3;
  color: #4d4d4d;
}

body.dark {
  background-color: #292929;
  color: white;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes fadeGrowShrink {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

.fadeOut {
  animation: fadeOut 0.3s ease-in;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
