@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply antialiased transition-all duration-700 ease-in-out bg-[#111111] text-offWhite;
}

.dark body {
  @apply bg-[#111111] text-offWhite; 
}


* {
font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 400;
}


::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #2c2c2c; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
    border: 3px solid #2c2c2c; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}


@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: translateY(-6px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}


.fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}



.fadeOut {
  animation: fadeOut 0.3s ease-in;
}



.modal-backdrop {
  background-color: rgba(0, 0, 0, .8);
}

@font-face {
  font-family: 'LichessIcons';
  src: url('/public/font/lichess.woff2') format('woff2');

}

.icon {
  font-family: 'LichessIcons';
  font-size: 25px;
}